* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: all 0.25s ease;

  &:active {
    transform: scale(0.95);
    transition: all 0.1s ease;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }
}
