@import "tailwindcss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

button {
  font-family: inherit;
  margin: 0px;
  transition: all 0.25s ease;

  &:active {
    transform: scale(0.95);
    transition: all 0.1s ease;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &.sm {
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
    border: none;
  }
}
